@import url(//db.onlinewebfonts.com/c/40f46a2006a599684b999288e839348e?family=ModestoPosterW05-Regular);

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */

html {
	overflow-x: hidden;
}
html body {
	margin-right: 0px !important;
}

body {
	font-family: 'Lusitana', serif;
	color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

/* custom styles */

.inputStandard {
	@apply text-white bg-[rgba(10,60,0,0.8)] border-[1px] border-white/80 rounded-md px-2 py-1.5 min-w-[18rem] max-w-[22rem] mt-1;
}

.buttonStandar {
	@apply flex items-center justify-center gap-2 py-1 px-5;
	@apply tracking-widest text-xl rounded backdrop-blur-lg border-white/30 border;
	@apply hover:-translate-y-1 duration-150;
}

.btn {
	@apply rounded px-8 py-1.5 font-semibold bg-gradient-to-tr text-black;
}

.btn--thin {
	@apply btn h-[2.4rem] flex items-center justify-center !px-4;
}

.btn--red {
	@apply btn from-red-400/50 to-red-700/50;
	@apply hover:from-red-400/40 hover:to-red-700/40;
}

.btn--yellow {
	@apply btn from-amber-200/70 to-amber-500/80;
	@apply hover:from-amber-200/60 hover:to-amber-500/70;
}

.btn--golden {
	@apply btn from-yellow-500/100 to-yellow-700/80;
	@apply hover:from-yellow-500/85 hover:to-yellow-700/65;
	@apply disabled:from-yellow-500/50 disabled:to-yellow-700/40;
}
.btn--golden.disabled {
	@apply from-yellow-500/50 to-yellow-700/40 !cursor-default;
}

.btn--brown {
	@apply btn from-yellow-700/90 to-yellow-900/90;
	@apply hover:from-amber-700/90 hover:to-amber-900/70;
}

.btn--blue {
	@apply btn from-blue-400/80 to-blue-800/70;
	@apply hover:from-blue-400/70 hover:to-blue-800/60;
}

.btn--green {
	@apply btn from-green-400/80 to-green-800/70;
	@apply hover:from-green-400/70 hover:to-green-800/60;
}

.orangeFilter {
	filter: invert(52%) sepia(87%) saturate(1097%) hue-rotate(3deg)
		brightness(112%) contrast(92%) opacity(80%);
	@apply cursor-pointer;
}

.appContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	z-index: 0;
	position: relative;
	min-height: 100vh;
	/* font-family: Lusitana !important;*/
	/* font-family: NotoSerif; */
}

.appContainer--landing {
	background-image: url('/dragon-background.png');
	background-size: cover;
	height: 120vh;
}

.appContainer--landing::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@apply bg-gradient-to-tr from-black/80 to-black/60;
	backdrop-filter: blur(1px);
}

.appContainer--events,
.appContainer--myteams {
	height: 100%;
	background: radial-gradient(
			circle 550px at 10% 50%,
			rgba(10, 60, 0, 0.3) 0%,
			transparent 100%
		),
		radial-gradient(
			circle 550px at 85% 30%,
			rgba(10, 60, 0, 0.3) 0%,
			transparent 100%
		),
		/* radial-gradient(circle 50px at 20% 75%, rgba(40, 60, 0, 1) 0%, transparent 100%), */
			radial-gradient(
				circle 450px at 50% 150%,
				#0a3c00 0%,
				rgba(0, 0, 0, 1) 100%
			);
}

@media (min-width: 1500px) {
	.appContainer--events,
	.appContainer--myteams {
		background: radial-gradient(
				circle 850px at 10% 50%,
				rgba(10, 60, 0, 0.55) 0%,
				transparent 100%
			),
			radial-gradient(
				circle 850px at 85% 30%,
				rgba(10, 60, 0, 0.55) 0%,
				transparent 100%
			),
			/* radial-gradient(circle 50px at 20% 75%, rgba(40, 60, 0, 1) 0%, transparent 100%), */
				radial-gradient(
					circle 850px at 50% 145%,
					rgba(10, 60, 0, 1) 0%,
					rgba(0, 0, 0, 1) 100%
				);
	}
}

.subContainer {
	height: 100%;
	width: 91%;
	z-index: 10;
}

.blazing:hover {
	display: inline-block;
	margin: 0;

	color: rgb(255, 115, 0);
	outline: none;
	vertical-align: middle;

	text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange,
		4px -5px 6px yellow, -4px -10px 10px yellow, 0 -10px 30px yellow;
	animation: 3s blazing infinite alternate linear;
}

@keyframes blazing {
	0% {
		text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow,
			0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
	}

	25% {
		text-shadow: 0 3px 20px red, 0 0 30px red, 0 0 20px orange,
			0 0 5px yellow, -2px -5px 5px yellow, 3px -10px 10px yellow,
			-4px -15px 20px yellow;
	}

	50% {
		text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
			-2px -5px 5px yellow, 3px -10px 10px yellow, -4px -15px 20px yellow,
			2px -20px 30px rgba(255, 255, 0, 0.5);
	}

	75% {
		text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
			3px -5px 5px yellow, -4px -10px 10px yellow,
			2px -20px 30px rgba(255, 255, 0, 0.5),
			0px -25px 40px rgba(255, 255, 0, 0);
	}

	100% {
		text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow,
			0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
	}
}
